{% extends 'blog/base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Mi Perfil </h2>

    {% if perfil %}
    <div class="card mt-3 " style="max-width: 500px;">
        {%if perfil.avatar %}
        <img src="{{ perfil.avatar.url}}" class="card-img-top" alt=" Avatar Del Usuario">
        {% else %}
        <img src="{% static 'img/default-avatar.png'}" class="card-img-top" alt="Avatar Por Defecto">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title"> {{ perfil.user.username}} </h5>
            {% if perfil.bio %}
            <p class="card-text"><strong>Biografia:</strong> {{ perfil.bio }} </p>
            {% endif %}

            <a href="{%url 'editar_perfil' %}" class="btn btn-primary">Editar Perfil</a>
            <a href="{% url 'eliminar_perfil' perfil.pk %}" class="btn btn-danger">Eliminar Perfil</a>
        </div>
    </div>
    {% else %}
    <p>No tenes un perfil creado aun</p>
    <a href="{% url 'crear_perfil' %}" class="btn btn-success">Crear Perfil</a>
    {% endif %}
</div>
{% endblock %}